#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row {
    display: flex;
    flex-direction: row;
}


.experience {
  min-height: 100vh;
  width: 80vw;
}

.description-container {
    display: flex;
    flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: fit-content;
}


.description .header {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  padding-top: 0.4em;
  min-width: 3em;
}

.description .content {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.description .title {
  margin: 0;
}

.description .desc {
  color: #bebebe;
}

.description .close{
  /* shape-outside: circle(50%); */
    clip-path: circle(50%);
    border: none;
    min-width: 1rem;
    max-width: 1rem;
    min-height: 1rem;
    color: rgba(0, 0, 0, 0);
    font-family: Verdana;
    font-weight: 900;
    font-size: 50%;
  background: radial-gradient(circle at center, red 0, #1a1a1a 100%);
}

.description .close:hover {
  color: #ffffff;
  background: radial-gradient(circle at center, red 0%, #ffa0a0 100%);
}

.chip_button {
  border-radius: 30px;
  border: 1px solid transparent;
  min-width: 13em;
  /* max-width: fit-content; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #214274; */
  background-color: rgba(121, 142, 274, 0.2);
  color: #70a9ff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.chip_button:hover {
    border-color: #70a9ff;
}
.chip_button:focus,
.chip_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .chip_button {
    background-color: rgba(121, 142, 274, 0.2);
    color: #1a6ce7;
  }
  .chip_button:hover {
    border-color: #1a6ce7;
  }
  .description .desc {
    color: #383838;
  }
}

.chip-button-container {
  display: grid;
  grid: auto-flow dense / repeat(auto-fill, max(13em, 20%));
  column-gap: 0.9em;
  row-gap: 0;
  min-height: 4.8em;
}