#root {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row {
  display: flex;
  flex-direction: row;
}

.experience {
  min-height: 100vh;
}

.description-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: grid;
  grid: auto-flow dense / 2em 1fr;
  /* display: flex;
  flex-direction: row; */
  margin: 0;
  min-height: 80vh;
}


.description .sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  /* padding-top: 1em; */
  min-width: 3em;
}

.description .content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* min-width: 100%; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: solid 1px var(--bg-gray);
  border-radius: 1em;

  background-repeat: no-repeat;
  background-position: center;
}

.description .content:hover {
  border: solid 1px #b6b6b6;
}

.description .header {
  display: grid;
  grid: auto-flow dense / 6fr 2.7em 6fr;
  align-items: center;
  /* margin-top: 1em; */
  padding: 2em 0 1em 0;
  transition: 100ms;
}

.description .title {
  margin: 0;
  font-size: larger;
  color: #fff;
}

.description .nav {
  padding: 0.5em;
}

.description .desc {
  color: #e0e0e0;
  padding: 0 2em;
  transition: 100ms;
}

.description .close {
  /* shape-outside: circle(50%); */
  clip-path: circle(50%);
  border: none;
  min-width: 1rem;
  max-width: 1rem;
  min-height: 1rem;
  margin: 1em 0;
  color: rgba(0, 0, 0, 0);
  font-family: Verdana;
  font-weight: 900;
  font-size: 50%;
  background: radial-gradient(circle at center, red 0, #1a1a1a 100%);
}

.description .close:hover {
  color: #ffffff;
  background: radial-gradient(circle at center, red 0%, #ffa0a0 100%);
}

.description .read {
  clip-path: circle(50%);
  border: none;
  margin: 1em 0;
  padding: 0;
  min-width: 1rem;
  max-width: 1rem;
  min-height: 1rem;
}

.table2 {
  display: flex;
  align-items: center;
  /* border: solid 1px #5c5c5c; */
  border-radius: 1em;
  min-width: 80vw;
  background-color: rgba(0, 0, 0, 0.6);
  /* filter: drop-shadow(2px 2px 4px rgb(206, 206, 206)); */
  /* box-shadow: inset 0px 0px 16px  rgb(31, 31, 31); */
  /* background: linear-gradient(to bottom, var(--bg-gray), rgb(219, 219, 219) , var(--bg-gray)); */
}

.table2 .sidebar {
  display: flex;
  align-items: center;
  padding: 0 1em;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  /* color: rgba(17, 17, 17, 0.8); */
  font-size: large;
  font-weight: 800;
}
.timer {
  width:0.8rem;
  height:0.8rem; 
  border:.3em  solid transparent;
  border-radius:50%;
  background:linear-gradient(#0a0a0a, #0a0a0a) content-box no-repeat,
             conic-gradient(red 24%, 0, transparent ) border-box;
  }


.chip_button {
  border-radius: 30px;
  border: 1px solid transparent;
  min-width: 13em;
  /* height: fit-content; */
  /* max-width: fit-content; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  /* background-color: rgba(91, 129, 255, 0.25); */
  /* background-color: rgba(121, 142, 274, 0.5); */
  /* background-color: var(--bg-gray); */
  background-color: rgba(255, 255, 255, 0.15);
  /* color: #1a6ce7; */
  color: rgb(224, 224, 224);
  cursor: pointer;
  transition: border-color 0.25s;
}

.chip_button:hover {
  border-color: #70a9ff;
}

.chip_button:focus,
.chip_button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.chip-button-container {
  display: grid;
  grid: auto-flow dense / repeat(auto-fill, max(13em, 24%));
  column-gap: 0.9em;
  row-gap: 0;
  min-height: 6.1em;
  width: 100%;
  border-left: solid 1px var(--bg-gray);
  padding: 1em 1em ;
}

@media (prefers-color-scheme: light) {
  .table2 {
    background-color: rgba(121, 142, 274, 0.1);
    /* box-shadow: 2px 2px 4px rgb(54, 62, 105); */
  }

  .table2 .sidebar {
    /* color: #e9e9ff; */
    color: #0004ff;
  }

  .chip_button {
    /* background-color: #e9f1ff; */
    background-color: rgba(255, 255, 255, 1);
    /* background-color: var(--bg-white); */
    /* color: #70a9ff; */
    color: #0004ff;
  }

  .chip_button:hover {
    /* border-color: #1a6ce7; */
    /* border-color: #5a5a5a; */
    background-color: rgba(255, 255, 255, 0.9);
  }
  .chip-button-container {
    border-left: solid 1px var(--bg-white);
  }

  .description .title {
    color: black;
  }

  .description .desc {
    color: #1a1a1a;
  }

  .description .content {
    border: solid 1px var(--bg-white);
  }

  .description .content:hover {
    border: solid 1px #1a6ce7;
  }
}
