:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --bg-gray:  #272727;
  --bg-white: #fafafa;
  --theme-dark-1: #bcd7ff;
  --theme-dark-2: #92a9d4cc;
  --theme-dark-3: #04356dcc;
  --theme-light-1: #4c00ff;
  --theme-light-2: #5a3cffcc;
  --theme-light-3: #d5d4ffcc;

  background-color: var(--bg-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: 100ms;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: var(--theme-dark-1);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-dark-1);
  text-decoration: underline;
  text-underline-offset: 6px;
  /* padding-bottom: 10px; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--bg-white);
  }
  a {
    color: var(--theme-light-1);
  }
  a:hover {
    color: var(--theme-light-2);
  }
}
